body {
    background-color: red;
    font-family: verdana;
}
h1 {
    text-align: center;
}
table {
    margin-left: auto;
    margin-right: auto;

}
th {
    background-color: #04AA6D;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
a:link, a:visited {
  background-color: white;
  color: black;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #04AA6D;
}
